/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #282828;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Georgia, Times, serif;
  margin: 0;
  font-size: 1.75rem;
}

h1 {
  font-size: 6rem;
  line-height: 0.9;
  margin: 2rem 0;
}

@media (min-width: 50em) {
  h1 {
    font-size: 9rem;
  }
}

p {
  margin: 0;
  padding: 0;
}

/* Elements
--------------------------------------------- */
ul {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
section {
  padding: 0 1rem;
}

/* Links
--------------------------------------------- */
a,
a:visited {
  color: #582a02;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.site-wrapper {
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

/* Header
--------------------------------------------- */
.site-header-wrapper {
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.site-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.156);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

.site-navigation ul {
  display: none;
  list-style: none;
}

.menu-toggle {
  border: none;
  background-color: rgb(0, 0, 0, 0);
}

@media (min-width: 50em) {
  .menu-toggle {
    display: none;
  }
  .site-navigation ul {
    display: flex;
    gap: 2rem;
  }
  .nav-menu li {
    font-size: 1.5rem;
    font-family: Georgia, Times, "Times New Roman", serif;
  }
}

/* Main
--------------------------------------------- */
.fixed-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg-sand.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}
.hero {
  padding: 60px 0 2rem;
  height: max-content;
}
.page-header {
  padding: 0 10% 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.section-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10%;

}
.section-about img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.about-card {
  padding: 2rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);  
  background-color: rgba(255, 255, 255, 0.319);
  border: 1.5px solid rgb(250, 245, 245);
}
@media (min-width: 50em) {
  .page-header {
    height: 600px;
	align-items: center;
	justify-content: center;
  padding: 0;

  }
  .section-about {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .section-about img {
    display: block;
    width: calc(50%);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
  }
  .about-card {
    width: calc(50%);
    aspect-ratio: 1 / 1;
    padding: 0 4rem;
    border-radius: 0  20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-card h2 {
    font-size: 3rem;
  }
  .about-card p {
    font-size: 1.3rem;
  }
}
.section-works {
  display: flex;
  flex-direction: column;
  align-items: center;
   background-image: 
   linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  padding: 5rem 10%;

}
.works-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.works-title {
  font-size: 5rem;
  padding-bottom: 2rem;
}
.work {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.work-image {
  width: 100%;
  object-fit: cover;
}

.work-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
}

@media (min-width: 50em) {
  .works-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .work {
    width: calc(25% - 0.85rem);
  }
  .work-text {
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
  }
}
/* Footer
--------------------------------------------- */
.site-footer {
  background-color: rgba(255, 255, 255, 0.156);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

@media (min-width: 50em) {
  .site-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-text {
    text-align: right;
  }
}
